html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  background: #349db6;
  background: radial-gradient(circle, #349db6 0%, #5bb3da 20%, #f29df7 100%);
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.header__container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-size: 50px;
  text-align: center;
}

.header__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 20px;
}

.score-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-header__title {
  font-size: 20px;
  margin-bottom: 0.5em;
}

.score-header__number {
  padding: 10px 40px;
  background-color: white;
  border-radius: 10px;
  font-size: 22px;
  color: #030303;
}

.new-game {
  margin-bottom: 20px;
  font-size: 20px;
}

@media (any-hover: hover) {
  .new-game:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.game__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background: #adb6bd;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 540px) {
  .game__field {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 425px) {
  .game__field {
    width: 310px;
    height: 310px;
  }
}

.field-game__square {
  background: #f8f8f8;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 540px) {
  .field-game__square {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 425px) {
  .field-game__square {
    width: 50px;
    height: 50px;
  }
}

.hide {
  color: transparent;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.leaderboard__title {
  margin-top: 10px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.leaderboard__body {
  background-color: white;
  border: 2px solid #adb6bd;
}

.leaderboard__item {
  border-bottom: 2px solid #adb6bd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.leaderboard__label {
  text-align: center;
  padding: 5px 10px;
}

.leaderboard__label:first-child {
  border-right: 2px solid #adb6bd;
}

.time {
  margin-bottom: 10px;
  font-size: 20px;
}

.input {
  width: 100px;
  border: 1px solid #adb6bd;
  font-size: 17px;
}

.input::-webkit-input-placeholder {
  font-size: 17px;
}

.input:-ms-input-placeholder {
  font-size: 17px;
}

.input::-ms-input-placeholder {
  font-size: 17px;
}

.input::placeholder {
  font-size: 17px;
}
.result {
  font-size: 20px;
  margin-bottom: 10px;
}